* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.main-content {
  color: #f8f8f8;
  border-radius: 15px;
  padding: 3rem;
  margin-top: 10rem;
  background-color: hsl(0, 0%, 8%);
  text-align: center;
  width: 90%;
  height: 42rem;
  max-width: 400px;
}

.avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.name {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
}

.bio {
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  margin: 1.5rem 0;
}

.location {
  font-size: 1rem;
  margin-top: 0;
  color: #bbb;
  font-weight: bold;
  color: hsl(75, 94%, 57%);
}

.skills ul {
  list-style-type: none;
  margin-top: 1rem;
}

.skills li {
  margin: 1rem 0;
  line-height: 2.9;
  border-radius: 7px;
  background-color: hsl(0, 0%, 20%);
}

.skills li:hover {
  background-color: hsl(75, 94%, 57%);
  color: black;
  cursor: pointer;
}

footer {
  background-color: #383737;
  padding: 1rem 0;
  text-align: center;
  color: hsl(228, 56%, 57%);
  font-size: 13px;
  width: 100%;
  margin-top: auto;
}

footer a {
  text-decoration: none;
  color: hsl(228, 41%, 56%);
}

footer a:hover {
  text-decoration: underline;
}
